﻿@model IEnumerable<WebApplication2.Models.City>

<h2>Cities List</h2>

<div id="cities">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Population)
             </li>

        }
    </ul>
</div>
@using (Html.BeginForm("_Submit", "Cities", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Action("_CityForm")
}
